<header id="header">
  <nav>
    <!-- Log-In, Cart, About us -->
    <div class="header-container">
      <span>
        <a id="cartviewbutton" href="#">
          <i id="#main-header-two" class="fas fa-shopping-cart fa-2x shopCart hvr-grow-rotate"></i>
        </a>
      </span>
    </div>
    <div class="header-container">
      <span>
        <a href="/passport">
          <p id="main-header-three" class="hvr-grow-rotate">LOG-IN</p>
        </a>
      </span>
    </div>
      <div class="header-container">
      <span>
        <a href="/logout">
          <p id="main-header-three" class="hvr-grow-rotate">LOG-OUT</p>
        </a>
      </span>
    </div>
   <div id="lefty">
      <span>
        <a href="/aboutus">
          <p id="main-header-four" class="hvr-grow-rotate">ABOUT US</p>
        </a>
      </span>
    </div>
    <br>
    <h1>DevTaukx</h1>
    <button id="designers-header" class="hvr-grow-rotate">Designers</button>
    <button value="apparel" class="searchlink hvr-grow-rotate">Clothing</button>
    <button value="accessories" class="searchlink hvr-grow-rotate">Accessories</button>
    <button value="outerwear" class="searchlink hvr-grow-rotate">Outerwear</button>
    <button value="shoes" class="searchlink hvr-grow-rotate">Shoes</button>
    <button id="testimonials-header" class="hvr-grow-rotate">Testimonials</button>
  

  </nav>

</header>
<section id="content">
  <from id="sortform">
    <section id="searchlinks">
      {{!-- dont touch this --}}
      <select id="sortselect" class="form-control">
        <option value="price" id="price-option">price</option>
        <option value="designer" id="designer-option">designer</option>
        <option value="category" id="category-option">category</option>
      </select>
      {{!-- dont touch this --}}
      <button type="submit" id="sort">Sort</button>
  </from>


</section>


<div id="productdisplay">
  {{#each product}}
  <div class="productdiv">
    <img class="productimg" src="{{img}}">
    <h4 id="productname"><strong>{{name}}</strong></h4>
    <p id="productprice"><strong>$ {{price}}.00</strong></p>
    <p id="productdesigner"><strong>{{designer}}</strong></p>

    <button class="cartBtn" data-id="{{id}}">Add to cart</button>

  </div>
  {{/each}}

</div>
</section>


<!-- Modal -->
<div id="cart-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="product-dump"></h4>
        <button type="button" id="closeBtn" class="close" data-dismiss="modal">&times;</button>
      </div>
      {{!-- BODY --}}
      <div class="modal-body text-center">

        {{!-- IMG DUMP --}}
        <img id="productImg" class="productimg">
        {{!-- PRICE DUMP --}}
        <h3 id="price-dump"></h3>
        {{!-- DESIGNER NAME DUMP --}}
        <h3 id="designer-dump">
          </h5>
          <form class="product-form">
            <div class="form-product">
              {{!-- <label for="ca">User Name: </label>
              <input type="text" name="userName" class="firstForm" id="userName" required="required">
              <br>
              <label for="prod">Product: </label>
              <input type="text" name="product" class="firstForm" id="product" required="required">
              <br> --}}
              <label for="place">Quantity: </label>
              <br>
              <input type="number" name="quantity" class="firstForm" id="quantity" min="1" max="20" required="required">
              <br>
            </div>
            <br>
            <button type="submit" value="submit" id="submitBtn">Submit</button>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<footer class="footer-2">

  <div class="footer-container">
    <div class="row">
      <div class="col-md-5">
        <p class="main-footer">© 2018 Agatha | Martin | Sienna</p>
      </div>
    </div>
  </div>

</footer>