

{{#each product}}

<li>
	{{name}}
    <img class="productimg" src="{{img}}">
   <p>Price: {{price}}</p>
  <p> Designer: {{designer}}</p>
</li>
    <button value={{id}}>Add to cart</button>

  {{/each}}